node_modules
**/*.js
*.map
*.js.log
token.txt
*.vsix
*.zip
.taskkey
.vscode
*.tgz
test-results.xml
/vsix/
action-vcpkg/src/base-lib.ts
action-vcpkg/src/vcpkg-action.ts
action-vcpkg/src/vcpkg-runner.ts
action-vcpkg/src/vcpkg-utils.ts
build
